@import '../../../styles/includes';

.socialWrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.socialsHolder {
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-bottom: 10px;
}

.not_found {
    @include  h6;
    color: var(--text1);
}