@import '../../../../styles/includes';

.mainPrevWiewHolder {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.mainPreviewItem {
    display: flex;
    align-items: center;
    border: 2px solid var(--bg5);
    padding: 15px;
}

.items {
    display: flex;
    align-items: center;
    gap: 10px;
    padding-left: 40px;
    border-left: 1px solid var(--bg2);
}

.itemChange {
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    background: var(--bg5);
    border-radius: 10px;
    cursor: pointer;
    padding: 20px;
    transition: background .4s ease-out;

    &:hover {
        background: var(--bg2);
    }

    path {
        pointer-events: none;
    }
}

.itemDelete {
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    background: var(--bg5);
    border-radius: 10px;
    cursor: pointer;
    padding: 20px;
    transition: background .4s ease-out, fill .4s ease-out;

    &:hover {
        background: var(--error);
        fill: var(--bg1);
    }

    path {
        pointer-events: none;
    }
}