@import "../../styles/_includes";


.teams {
  &Block {
    padding: 40px 0;

    &__holder {
      position: relative;
    }

    &__title {
      @include h2;
      margin-bottom: 40px;
    }

    &__theme {
      margin-top: 40px;
      display: flex;
      justify-content: flex-start;
      gap: 10px;
    }
  }
}

.team {
  &Item {
    &__image {
      width: 100%;
      height: 250px;
      margin-bottom: 10px;

      img {
        width: 100%;
        height: 100%;
        display: block;
        object-fit: cover;
      }
    }

    &__name {
      @include h5;
      color: var(--head);
    }

    &__desc {
      @include body;
      color: var(--text1);
    }
  }
}

@media (max-width: 992px) {
  .teams {
    &Block {
      &__title {
        margin-bottom: 20px;
      }
    }
  }
}