@import "../../../styles/includes";

.logoTitle {
  @include bodyM;
  color: var(--black);
  margin-bottom: 20px;
  text-align: center;
}

.logoItem {
  width: 150px;
  height: 150px;
  border: 1px solid var(--bg2);
  object-fit: contain;
  display: block;
  padding: 5px;
}

.inputFile {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 10px;
  width: fit-content;

  span {
    background: var(--primary);
    border: 1px solid var(--primary);
    padding: 15px 30px;
    border-radius: 5px;
    width: fit-content;
    color: var(--white);
    cursor: pointer;
    color: var(--bg1);
    transition: background 0.4s ease-out, color 0.4s ease-out;
  }

  button {
    width: fit-content;
  }

  &:hover {
    span {
      background: transparent;
      color: var(--primary);
    }
  }
}
