/*============= FUNCTIONS ===============*/
/*============= MIXINS ===============*/
.collectionsBlock {
  padding: 30px 0;
}

.blockTitle {
  font-size: clamp(20px, 0.01625 * 100vw + 14.8px, 46px);
  font-style: normal;
  font-weight: 800;
  line-height: 120%;
  color: var(--text1);
  margin-bottom: 40px;
}

.collectionsHolder {
  display: flex;
  gap: 30px;
}

.leftSide {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 50%;
}
.leftSide p {
  font-size: clamp(14px, 0.00375 * 100vw + 12.8px, 20px);
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  color: var(--text1);
  text-align: justify;
}
.leftSide .moreText {
  margin-top: auto;
  width: -moz-fit-content;
  width: fit-content;
  background: transparent;
  border: transparent;
  font-size: clamp(14px, 0 * 100vw + 14px, 14px);
  font-style: normal;
  font-weight: 400;
  line-height: 130%;
  color: var(--text1);
  font-weight: 600;
  cursor: pointer;
  transition: color 0.4s ease-out;
}
.leftSide .moreText:hover {
  color: var(--primary);
}
.leftSide.hidden p {
  -webkit-line-clamp: 14;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.rightSide {
  width: 50%;
}

.imageItem {
  display: block;
  width: 100%;
  height: 385px;
  border-radius: 5px;
  overflow: hidden;
  cursor: pointer;
  position: relative;
}
.imageItem::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--primary);
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease-out;
}
.imageItem img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  display: block;
}
.imageItem:hover::before {
  opacity: 0.8;
}
.imageItem:hover .hoverImage {
  transform: translate(-50%, -50%) scale(1);
}

.hoverImage {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  display: flex;
  flex-direction: column;
  gap: 10x;
  align-items: center;
  justify-content: center;
  color: var(--bg1);
  font-size: clamp(14px, 0.00375 * 100vw + 12.8px, 20px);
  font-style: normal;
  font-weight: 800;
  line-height: 130%;
  pointer-events: none;
  transition: transform 0.3s ease-out;
}

.sliderTheme {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 10px;
  margin-top: 20px;
}

.slidePrev,
.slideNext {
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--primary);
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.4s ease-out;
}
.slidePrev:hover,
.slideNext:hover {
  background: var(--primaryH);
}
.slidePrev.swiperDisabled,
.slideNext.swiperDisabled {
  background: var(--bg2);
}

@media (max-width: 992px) {
  .collectionsBlock {
    padding: 20px 0;
  }
  .collectionsHolder {
    display: block;
  }
  .blockTitle {
    margin-bottom: 20px;
  }
  .leftSide {
    width: 100%;
    margin-bottom: 20px;
  }
  .rightSide {
    width: 100%;
  }
}
@media (max-width: 700px) {
  .imageItem {
    height: 285px;
  }
}/*# sourceMappingURL=CollectionsBlock.module.css.map */