@import '../../../styles/includes';

.titleBlock {
  @include h3;
  color: var(--text1);
  margin-bottom: 20px;
  text-align: center;
}

.notFound {
  @include h6;
  color: var(--black);
  text-align: center;
}

.blockForm {
  position: relative;
}

.blockHolder {
  display: flex;
  gap: 20px;

  &_description {
    width: 70%;
  }
}

.imageHolder {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 10px;
  width: 30%;
}

.buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;

  button {
    width: 100%;
  }
}

.btnImage {
  width: fit-content;
}

.descBlock {
  height: 358px;
}

.image {
  width: 100%;
  height: 180px;
  margin: 0 auto;
  border-radius: 5px;
  overflow: hidden;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
  }
}