@import '../../../styles/includes';

.modalTop {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 40px;
    gap: 10px;
}

.modalTitle {
    @include h3;
    color: var(--black);
    font-weight: 400;
}

.galleryHolder {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    gap: 15px;
}

.galleryItem {
    width: 150px;
    height: 150px;
    border-radius: 10px;
    overflow: hidden;
    border: 1px solid var(--bg2);
    padding: 5px;
    cursor: pointer;

    img {
        width: 100%;
        height: 100%;
        object-fit: contain;
        display: block;
    }
}

.input_file {
    position: relative;
    display: inline-block;


    div {
        position: relative;
        display: inline-block;
        cursor: pointer;
        outline: none;
        text-decoration: none;
        color: var(--bg1);
        border-radius: 5px;
        background: var(--primary);
        padding: 10px 30px;
        box-sizing: border-box;
        border: none;
        margin: 0;
        @include body;
        transition: background 0.4s, color .4s ease-out;

        &:hover {
            background: var(--primaryH);
        }
    }

    input[type=file] {
        position: absolute;
        z-index: -1;
        opacity: 0;
        display: block;
        width: 0;
        height: 0;
    }
}