@import '../../styles/includes';

.contactsBlock {
    margin: 30px 0 0;
    overflow: hidden;
    background: var(--bg5);
}

.blockTitle {
    @include h2;
    color: var(--text1);
    margin-bottom: 40px;
}

.blockHolder {
    position: relative;
    display: flex;
}

.leftSide {
    padding: 60px 0;
    width: 50%
}

.nameHolder {
    @include assistant;
    color: var(--text2);
    margin-bottom: 10px;
}

.phonesHolder,
.emailsHolder {
    margin-bottom: 20px;
}

@media (max-width: 1300px) {
    .blockTitle {
        margin-bottom: 20px;
    }

    .blockHolder {
        padding: 40px 15px;
        flex-direction: column;
        gap: 20px;
    }

    .leftSide {
        padding: 0;
        width: 100%;
    }
}