@import '../../../../styles/includes';

.createHolder {
    //max-width: 700px;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    margin: 0 auto;
}

.titleHolder {
    display: flex;
    align-items: center;
    justify-content: space-between;
    @include h5;
    color: var(--black);
    margin-bottom: 20px;
    cursor: pointer;
    background: var(--bg5);
    padding: 20px;
    border-radius: 5px;
    transition: color .4s ease-out;

    svg {
        transition: transform .4s ease-out, fill .4s ease-out;
    }

    &:hover {
        color: var(--primary);

        svg {
            fill: var(--primary);
        }
    }

    &.holderActive {
        svg {
            transform: rotate(-180deg);
        }
    }
}

.createBody {
    height: 0;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    gap: 10px;

    &.bodyOpen {
        height: fit-content;
    }
}

.imageChoice {
    width: 100%;
    height: 250px;
    border-radius: 10px;
    overflow: hidden;

    img {
        width: 100%;
        height: 100%;
        object-fit: contain;
        display: block;
    }
}