@import '../../styles/includes';

.tourBlock {
    padding: 60px 0 30px;
}

.blockTitle {
    @include h2;
    color: var(--head);
    margin-bottom: 40px;
}

.toursHolder {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}

.lastItem {
    background: var(--bg5);
    border-radius: 10px;
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-decoration: none;

    .lastItemName {
        @include h3;
        color: var(--head);
        transition: color .4s ease-out;
    }

    &:hover {
        .lastItemName {
            color: var(--primary);
        }
    }
}

.lastItemImage {
    margin-left: auto;
    margin-right: 40px;
    margin-bottom: 40px;
    width: 80px;
    height: 80px;
    border-radius: 100%;
    background: var(--primary);
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 1;

    &::before {
        content: "";
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 120px;
        height: 120px;
        border-radius: 100%;
        background: var(--primary);
        opacity: .5;
        z-index: -1;
        -webkit-animation: pulsing 2s infinite;
        animation: pulsing 2s infinite;
    }

    &::after {
        content: "";
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 160px;
        height: 160px;
        border-radius: 100%;
        background: var(--primary);
        opacity: .2;
        z-index: -2;
        -webkit-animation: pulsing 2s infinite;
        animation: pulsing 2s infinite;
        animation-delay: .1s;
    }

    img {
        width: 70%;
        height: 70%;
        object-fit: contain;
        display: block;
        padding: 10px;
    }
}

@-webkit-keyframes pulsing {
    0% {
        -webkit-transform: translate(-50%, -50%) scale(0.75, 0.75);
        transform: translate(-50%, -50%)scale(0.75, 0.75)
    }

    50% {
        -webkit-transform: translate(-50%, -50%) scale(1.0, 1.0);
        transform: translate(-50%, -50%) scale(1.0, 1.0);
    }

    100% {
        -webkit-transform: translate(-50%, -50%) scale(0.75, 0.75);
        transform: translate(-50%, -50%) scale(0.75, 0.75);
    }
}

@keyframes pulsing {
    0% {
        -webkit-transform: translate(-50%, -50%) scale(0.75, 0.75);
        transform: translate(-50%, -50%)scale(0.75, 0.75)
    }

    50% {
        -webkit-transform: translate(-50%, -50%) scale(1.0, 1.0);
        transform: translate(-50%, -50%) scale(1.0, 1.0);
    }

    100% {
        -webkit-transform: translate(-50%, -50%) scale(0.75, 0.75);
        transform: translate(-50%, -50%) scale(0.75, 0.75);
    }
}

@media (max-width: 992px) {
    .tourBlock {
        padding: 40px 0 20px;
    }

    .blockTitle {
        margin-bottom: 20px;
    }

    .toursHolder {
        //grid-template-columns: repeat(2, 1fr);
        gap: 15px;
    }

    .lastItem {
        padding: 40px 20px;
    }

    .lastItemImage {
        margin-bottom: 20px;
    }
}

@media (max-width: 920px) {
    .toursHolder {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 520px) {
    .toursHolder {
        grid-template-columns: 100%;
        gap: 15px;
    }

    .lastItem {
        min-height: 310px;
    }
}
