@import '../../../styles/includes';

.pageTitle {
    margin: 60px 0;
    @include h4;
    color: var(--text1);
    text-align: center;
}

.itemHolder {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: flex-start;
    gap: 30px;
    padding-bottom: 40px;
}

.leftItem {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.nameItem {
    @include h6;
    text-align: center;
    color: var(--black);

    &::placeholder {
        @include h6;
        text-align: center;
        color: var(--black);
    }
}

.textItem {
    @include bodyS;
    text-align: center;
    color: var(--black);

    &::placeholder {
        @include bodyS;
        text-align: center;
        color: var(--black);
    }
}

.imageHolder {
    display: block;
}

.imageItem {
    width: 100%;
    height: 350px;
    border-radius: 10px;
    overflow: hidden;
    cursor: pointer;
    position: relative;

    &::before {
        content: "Посмотреть изображение";
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
        height: 100%;
        z-index: 1;
        opacity: 0;
        color: var(--bg1);
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        background: var(--black);
        pointer-events: none;
        transition: opacity .4s ease-out;
    }

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        display: block;
    }

    &:hover {
        &::before {
            opacity: .8;
        }
    }
}

.buttonChoice {
    margin: 20px auto 0 auto;
}

.buttonSave {

    margin: 0 auto 40px;
}