@import '../../../styles/includes';

.page_admin__edit {
  background: var(--bgLight);
}

.title_holder {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  padding-top: 20px;
  margin-bottom: 40px;
}

.itemHolder {
  margin: 80px 0;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.itemTitle {
  @include h2;
  color: var(--text1);
  border: none;
  border-bottom: 1px solid transparent;

  &::placeholder {
    text-align: center;
    @include h4;
    color: var(--text1);
  }

  &:focus {
    border-bottom: 1px solid var(--primary);
  }
}


.leftItem {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.nameItem {
  @include h6;
  text-align: center;
  color: var(--black);

  &::placeholder {
    @include h6;
    text-align: center;
    color: var(--black);
  }
}

.textItem {
  @include bodyS;
  text-align: center;
  color: var(--black);

  &::placeholder {
    @include bodyS;
    text-align: center;
    color: var(--black);
  }
}

.imageHolder {
  display: block;
}

.imageItem {
  width: 100%;
  height: 350px;
  border-radius: 10px;
  overflow: hidden;
  cursor: pointer;
  position: relative;

  &::before {
    content: "Посмотреть изображение";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0;
    color: var(--bg1);
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--black);
    pointer-events: none;
    transition: opacity .4s ease-out;
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
  }

  &:hover {
    &::before {
      opacity: .8;
    }
  }
}

.buttonChoice {
  margin: 20px auto 0 auto;
}

.buttonSave {

  margin: 0 auto 40px;
}

