@import '../../styles/includes';

.galleryBlock {
    padding: 30px 0;
}

.blockTitle {
    @include h2;
    color: var(--text1);
    margin-bottom: 40px;
}

.blockHolder {
    position: relative;
}

.swiperGalleryBlock {
    position: relative;
}


.imageItem {
    display: block;
    width: 100%;
    height: 250px;
    position: relative;

    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: var(--primary);
        opacity: 0;
        pointer-events: none;
        transition: opacity .3s ease-out;
    }

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        display: block;
    }

    &:hover {
        &::before {
            opacity: .8;
        }

        .hoverImage {
            transform: translate(-50%, -50%) scale(1);
        }
    }
}

.hoverImage {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    display: flex;
    flex-direction: column;
    gap: 10x;
    align-items: center;
    justify-content: center;
    color: var(--bg1);
    @include h5;
    pointer-events: none;
    transition: transform .3s ease-out;
}


.slidePrev {
    position: absolute;
    top: 50%;
    left: calc((100% - 500px) / 2);
    transform: translate(0, -50%);
    width: 60px;
    height: 60px;
    border-radius: 5px;
    cursor: pointer;
    background: var(--primary);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10;
    transition: background .4s ease-out;

    &:hover {
        background: var(--primaryH);
    }
}

.slideNext {
    position: absolute;
    top: 50%;
    right: calc((100% - 500px) / 2);
    transform: translate(0, -50%);
    width: 60px;
    height: 60px;
    border-radius: 5px;
    cursor: pointer;
    background: var(--primary);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10;
    transition: background .4s ease-out;

    &:hover {
        background: var(--primaryH);
    }
}

@media (max-width: 992px) {
    .blockTitle {
        margin-bottom: 20px;
    }
    
    .sliderTheme {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        gap: 20px;
        margin-top: 20px;
    }

    .slideNext,
    .slidePrev {
        position: relative;
        top: 0;
        left: 0;
        right: 0;
        transform: translate(0);
    }
}