@import '../../styles/includes';

.textarea {
    padding: 20px 30px;
    background: var(--bg1);
    border-radius: 5px;
    border: 1px solid var(--primary);
    @include bodyS;
    width: 700px;
    height: 120px;
    resize: vertical;

    &:focus {
        outline: none;
    }

    &::placeholder {
        @include bodyS;
        color: var(--text2);
    }

    &.full {
        width: 100%;
        max-width: 100%;
    }

    &.h200 {
        height: 200px;
    }
}