@import '../../../styles/includes';

.contacts {
  &_holder {

    &__top {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 30px;
    }

    &__bottom {
      width: 100%;
      margin-top: 30px;
    }

    &__h4 {
      @include  h6;
      margin-bottom: 10px;
    }
    &__map {
      border-radius: 10px;
      overflow: hidden;
    }
  }
}