@import "../../../styles/includes";

.tourItem {
  width: 100%;
  //min-height: 410px;
  height: 100%;
  border-radius: 5px;
  overflow: hidden;
  text-decoration: none;

  .image {
    width: 100%;
    height: 70%;
    transition: height 0.4s ease-out;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      display: block;
      filter: grayscale(0);
      transition: filter 0.4s ease;
    }
  }

  .bodyItem {
    padding: 35px 30px;
    background: var(--bg5);
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    gap: 10px;
    height: 30%;
    transition: background 0.4s ease-out, height 0.4s ease-out;

    .topSide {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 20px;

      svg {
        flex-shrink: 0;
        transition: transform 0.4s ease-out;

        path {
          transition: stroke 0.4s ease-out;
        }
      }
    }

    .nameItem {
      @include p40020_100;
      color: var(--text1);

      transition: color 0.4s ease-out;
    }

    .linkButton {
      text-decoration: none;
      @include assistant;
      color: var(--bg1);
      width: fit-content;
      transform: translateY(100px);
      transition: transform 0.4s ease-out;
    }
  }

  &:hover {
    .image {
      height: 60%;

      img {
        filter: grayscale(1);
      }
    }

    .bodyItem {
      height: 40%;
      background: var(--primary);
    }

    .topSide {
      svg {
        transform: rotate(-90deg);

        path {
          stroke: var(--bg1);
        }
      }
    }

    .nameItem {
      color: var(--bg1);
    }

    .linkButton {
      transform: translateY(0);
    }
  }
}

@media (max-width: 992px) {
  .tourItem {
    .bodyItem {
      padding: 20px 15px;
    }
  }
}