@import '../../../../styles/includes';

.titleBlock {
    @include h3;
    color: var(--text1);
    margin-bottom: 20px;
    text-align: center;
}

.lastItemHolder {
    position: relative;
}

.lastItemWrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    background: transparent;
    border: 2px solid var(--bg5);
    padding: 20px;
    border-radius: 5px;
}

.nameitem {
    @include h5;
    color: var(--black);
}