.basicHolder {
    width: 100%;
    height: fit-content;
    padding: 40px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    gap: 40px
}