@import '../../../styles/includes';

.basicHolder {
   position: relative;
}

.titleHolder {
   @include h3;
   color: var(--text1);
   margin-bottom: 20px;
   text-align: center;

}

.basicWrapper {
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;
   gap: 60px;
}