.user {
  &_holder {
    position: relative;
    z-index: 10;

    &_top {
      width: fit-content;
      display: flex;
      align-items: center;
      gap: 5px;
      cursor: pointer;

      &:hover {
        .user_toggler {
          path {
            fill: var(--black);
          }
        }
      }
    }
  }

  &_toggler {
    width: 24px;
    height: 24px;

    path {
      transition: fill 0.4s ease-out;
    }

    &__active {
      path {
        fill: var(--black);
      }
    }
  }

  &_panel {
    position: absolute;
    top: 30px;
    left: 0;
    width: 100%;
    height: fit-content;
    background: var(--bg1);
    border: 1px solid var(--bgLight);
    padding: 20px 15px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    z-index: 10;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
      rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;

    &_item {
      width: fit-content;
      cursor: pointer;
      transition: color 0.4s ease-out;

      &:hover {
        color: var(--primary);
      }
    }
  }
}
