@import '../../../styles/includes';

.emailsName {
    @include h5;
    color: var(--black);
    margin-bottom: 10px;
}

.notFound {
    @include h4;
    color: var(--black);
    text-align: center;
}

.emailItem {
    display: flex;
    align-items: center;
    gap: 30px;
    justify-content: space-between;
}

.changeHolderItem {
    display: flex;
    align-items: center;
    gap: 10px;
}

.itemChange {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: color .4s ease-out;

    &:hover {
        color: var(--primary);
    }

}

.itemDelete {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: color .4s ease-out;

    &:hover {
        color: red;
    }
}

.emailsHolder {
    display: flex;
    flex-direction: column;
}

.emailsWrapper {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 20px;
}

.addEmailHolder {
    display: flex;
    align-items: center;
    gap: 10px;
}

.modalHolder {
    display: flex;
    flex-direction: column;
    gap: 10px;
}