@import '../../../../styles/includes';

.item{
  &__header {
    display: flex;
    align-content: center;
    gap: 10px;
  }

  &__drag {
    cursor: move;
  }
}

.name {
  @include h6;
  color: var(--head);
}