@import '../../styles/includes';

.emailsHolder {
    display: flex;
    flex-direction: column;
    gap: 5px;

}

.emailItem {
    @include h5;
    color: var(--text1);
    width: fit-content;
    text-decoration: none;
    transition: color .4s ease-out;

    &:hover {
        color: var(--primary);
    }
}