/*============= FUNCTIONS ===============*/

@function calcFluidFontSize($f-min, $f-max) {
  $k: calc(($f-max - $f-min) / (1920 - 320));
  $b: $f-min - $k * 320;

  $b: $b * 1px;

  @return clamp(#{$f-min}px, calc(#{$k} * 100vw + #{$b}), #{$f-max}px);
}

/*============= MIXINS ===============*/
@mixin h1 {
  font-size: calcFluidFontSize(25, 80);
  font-style: normal;
  font-weight: 900;
  line-height: 90%;
}

@mixin h1v2 {
  font-size: calcFluidFontSize(25, 60);
  font-style: normal;
  font-weight: 900;
  line-height: 90%;
}

@mixin h2 {
  font-size: calcFluidFontSize(20, 46);
  font-style: normal;
  font-weight: 800;
  line-height: 120%;
}

@mixin h3 {
  font-size: calcFluidFontSize(18, 32);
  font-style: normal;
  font-weight: 800;
  line-height: 130%;
}

@mixin h4 {
  font-size: calcFluidFontSize(16, 28);
  font-style: normal;
  font-weight: 800;
  line-height: 120%;
}

@mixin h5 {
  font-size: calcFluidFontSize(14, 20);
  font-style: normal;
  font-weight: 800;
  line-height: 130%;
}

@mixin h6 {
  font-size: calcFluidFontSize(14, 16);
  font-style: normal;
  font-weight: 800;
  line-height: 130%;
}

@mixin bodyS {
  font-size: calcFluidFontSize(14, 16);
  font-style: normal;
  font-weight: 600;
  line-height: 130%;
}

@mixin bodyM {
  font-size: calcFluidFontSize(14, 20);
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}

@mixin body {
  font-size: calcFluidFontSize(14, 16);
  font-style: normal;
  font-weight: 400;
  line-height: 130%;
}

@mixin assistant {
  font-size: calcFluidFontSize(14, 14);
  font-style: normal;
  font-weight: 400;
  line-height: 130%;
}

@mixin p2 {
    font-size: calcFluidFontSize(14, 16);
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}
