@import "_includes.scss";
@import "~bootstrap/scss/bootstrap";

/*============= COLORS ===============*/
:root {
  --primary: #2760d5;
  --primaryH: #2253b8;
  --head: #281f1d;
  --text1: #47555d;
  --text2: #ced2d4;
  --bg1: #fff;
  --bg2: #ced2d4;
  --bg5: #f2f3f4;
  --black: #000;
  --error: red;
  --bgLight: #f2f3f4;
  --blue1: #2f80ed;
  --bgBlue01: rgba(47, 128, 237, 0.1);
  --bgBtn: #0d6efd;
}

html {
  box-sizing: border-box;
}

* {
  padding: 0;
  margin: 0;
  font-family: "TildaSans", sans-serif;
  font-weight: 400;
  box-sizing: border-box;
  scroll-margin-top: 80px;
}

.container {
  max-width: 1290px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;

  &.extend {
    max-width: 1600px;
  }
}

body {
  background: var(--bg1);
  overflow-x: hidden;
  margin: 0 auto;
  width: auto;
}

main {
  min-height: 83vh;
  padding-bottom: 80px;
}

*::-webkit-scrollbar {
  width: 10px;
  /* ширина всей полосы прокрутки */
}

*::-webkit-scrollbar-track {
  background: var(--bgLight);
  /* цвет зоны отслеживания */
}

*::-webkit-scrollbar-thumb {
  background-color: var(--primary);
  /* цвет бегунка */
  border-radius: 10px;
  /* округлось бегунка */
  border: 3px solid var(--bgLight);
  /* отступ вокруг бегунка */
}

h4 {
  @include h4;
}

h5 {
  @include h5;
}

h6 {
  @include h6;
}

span {
  @include body;
}

p {
  margin-bottom: 0;
}

@media (max-width: 992px) {
  main {
    padding-bottom: 40px;
  }
}

.scroll-snap-slider {
  overscroll-behavior-x: none;
  overscroll-behavior-y: auto;
}

.scroll-snap-slide {
  scroll-snap-stop: always;
}
