@import "_includes.scss";

/*============= COLORS ===============*/
:root {
  --primary: #cf7b3e;
  --primaryH: #aa6432;
  --text1: #0a1c27;
  --text2: #47555d;
  --bg1: #fff;
  --bg2: #ced2d4;
  --bg5: #f2f3f4;
  --black: #000;
  --error: red;
  --bgLight: #F7F7F7;
}

html {
  box-sizing: border-box;
}

* {
  padding: 0;
  margin: 0;
  font-family: "TildaSans", sans-serif;
  font-weight: 400;
  box-sizing: inherit;
}

.container {
  max-width: 1290px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;

  &.extend {
    max-width: 1600px;
  }
}

body {
  background: var(--bg1);
  overflow-x: hidden;
  margin: 0 auto;
  width: auto;
}

main {
  min-height: 83vh;
}

body::-webkit-scrollbar {
  width: 10px;
  /* ширина всей полосы прокрутки */
}

body::-webkit-scrollbar-track {
  background: var(--bg2);
  /* цвет зоны отслеживания */
}

body::-webkit-scrollbar-thumb {
  background-color: var(--primary);
  /* цвет бегунка */
  border-radius: 10px;
  /* округлось бегунка */
  border: 3px solid var(--bg2);
  /* отступ вокруг бегунка */
}

body {
  scrollbar-width: thin;
  /* "auto" или "thin" */
  scrollbar-color: var(--primary) var(--bg2);
  /* цвет бегунка и зоны отслеживания */
}

.swiper {
  &.swiperGalleryBlock {
    .swiper-slide {
      border-radius: 10px;
      overflow: hidden;

      &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(
          270deg,
          rgba(255, 255, 255, 0.8) 0%,
          rgba(255, 255, 255, 0.8) 100%
        );
        pointer-events: all;
        z-index: 1;
        transition: opacity 0.4s ease-out;
      }

      &-active {
        &::before {
          opacity: 0;
          pointer-events: none;
        }
      }
    }
  }
}

@media (max-width: 992px) {
  .swiper {
    &.swiperGalleryBlock {
      .swiper-slide {
        &::before {
          display: none;
        }
      }
    }
  }
}
