@import '_includes.scss';

html {
    box-sizing: border-box;
}


* {
    padding: 0;
    margin: 0;
    font-family: 'TildaSans', sans-serif;
    font-weight: 400;
    box-sizing: inherit;
}

.container {
    max-width: 1290px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;

    &.extend {
        max-width: 1600px;
    }
}

body {
    background: var(--bg1);
}

main {
    min-height: 83vh;
}